<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信自动回复助手</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <img src="./QR.png">
    <div style="margin-left:5%"> <input type="button" value="我已扫码并确认登录" class="btn" id="confirm"></div>
</body>
<script type="text/javascript">
$(document).ready(function(){
  $("#confirm").click(function(){
    alert("test");
  });
});
</script>
</html>