
    <img src='../static/{{ uuid_num }}.png' id="qrimg" alt="若无法加载图片，可点击这里重新加载！">
    <button class="btn" id="confirm">我已扫描并在微信确认登录</button>
    <div>如二维码失效，可点击二维码刷新</div>
    <div style="display: none" id="uuid">{{ uuid_num }}</div>
    <script>
        $(document).ready(function (){
            //强制刷新图片
            var timestamp = new Date().getTime();
            $("#qrimg").attr('src',$("#qrimg").attr('src') + '?' +timestamp);

            $("#qrimg").click(function () {
                $("#qrimg").attr('src',$(this).attr('src').split('\?')[0] + '?' +timestamp);
            });
            
            $("#confirm").click(function () {
                url = '/friends';
                $.get(url,function (data) {
                    //alert(data);
                    json_obj = JSON.parse(data)
                    json_data = json_obj.data
                    status = json_obj.status
                    if(status=='0'){
                        alert(json_data);
                        return ;
                    }
                    //获取数据
                    alert(json_data);
                     $("#main_content").html(json_data);
                })
            })
        });

    </script>